.menu-bottom__container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url(/images/bg2.jpeg);
}

.bottom-menu__link {
  padding-bottom: 2px;
}

.form-overlay--success {
  display: none;
}

.form-overlay--error {
  display: none;
}

.form-overlay--sending {
  display: none;
}
