<div class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-height-match uk-grid id="section-contact">
    <div class="uk-padding-large">
      <h1 class="uk-heading-line uk-text-center"><span>Location & Contact</span></h1>
      <p>{{global.city}} {{global.street}}</p>
      <p><span uk-icon="icon: mail"></span> {{global.email}}</p>
      {{#each global.phone}}
        <p><span uk-icon="icon: phone"></span>{{this}}</p>
      {{/each}}
      <h1 class="uk-heading-line uk-text-center"><span>Follow Us</span></h1>
      <ul class="uk-iconnav social-media-list">
      {{#each social-media.accounts}}
        <li><a href="{{this.url}}" uk-icon="icon: {{this.icon}}"></a></a></li>
      {{/each}}
      </ul>
    </div>
    <div id="map-container" class="uk-height-large">

    </div>
</div>
