<div class="uk-section uk-section-media uk-light uk-background-cover uk-background-fixed" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/gallery/photo5.jpeg)">
    <div class="uk-container uk-text-center">
        <h1>Additional modules</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Blandit cursus risus at ultrices mi tempus imperdiet nulla malesuada.</p>
        <a class="uk-button uk-button-default" href="{{root}}/modules.html">See more</a>
    </div>
</div>
