<div class="uk-section-media uk-light uk-background-cover uk-padding-small uk-background-fixed menu-bottom__container">
  <div class="uk-container">
        <p class="uk-heading-line uk-text-center"><span><a href="#" uk-totop uk-scroll></a></span></p>
  </div>
</div>
<div class="uk-section uk-section-secondary uk-section-medium uk-light">
  <div class="uk-container">
    <div class="uk-grid-match uk-grid-divider" uk-grid>
      <div class="uk-width-1-2@m">
        <ul class="uk-nav uk-nav-default">
          <li class="uk-nav-header">Name of the Company</li>
          <li class="uk-nav-divider"></li>
          <li><span class="uk-text-meta uk-margin-small-right">city:</span>Macclesfield Forest</li>
          <li><span class="uk-text-meta uk-margin-small-right">street:</span>68 South Crescent</li>
          <li><span class="uk-text-meta uk-margin-small-right">phone:</span>202-555-0101</li>
          <li><span class="uk-text-meta uk-margin-small-right">email:</span>testemail@test.com</li>
          <li class="uk-nav-divider"></li>
          <li>
            <p class="uk-margin-top">Some optional info here:</p>
          </li>
          <li class="uk-heading-bullet uk-margin-bottom">You want to know more?</li>
          <ul class="uk-list uk-list-bullet">
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
          </ul>
          <li class="uk-margin-top"><ul class="uk-iconnav">
            <li><a href="#" uk-icon="icon: facebook"></a></li>
            <li><a href="#" uk-icon="icon: twitter"></a></li>
            <li><a href="#" uk-icon="icon: pinterest"></a></li>
            <li><a href="#" uk-icon="icon: youtube"></a></li>
          </ul></li>
        </ul>
      </div>
      <div class="uk-width-1-2@m">
        <form id="contact-form">
          <fieldset class="uk-fieldset uk-position-relative uk-dark">
            <legend class="uk-legend">Contact Form</legend>
            <div class="uk-margin">
              <input class="uk-input uk-width-1-1" type="email" placeholder="Yyour Email" name="_replyto" required />
            </div>
            <div class="uk-margin">
              <textarea class="uk-textarea uk-width-1-1" rows="5" placeholder="Your message" name="message" required></textarea>
            </div>
            <input type="hidden" name="_subject" value="You've got new message from www.testsite.com!" />
            <input type="text" name="_gotcha" style="display:none" />
            <div class="uk-margin">
              <input class="uk-button uk-button-default uk-width-1-1" type="submit" value="Send">
            </div>

            <!-- sending overlay -->
            <div class="uk-overlay-primary uk-position-cover form-overlay--sending">
                <div class="uk-position-center">
                  <div class="uk-text-center">
                    <span class="uk-animation-slide-top-small" uk-icon="icon: mail; ratio: 3"></span>
                    <h4 class="uk-animation-slide-bottom-small">Sending message.</h4>
                  </div>
                </div>
            </div>

            <!-- success overlay -->
            <div class="uk-overlay-primary uk-position-cover form-overlay--success">
                <div class="uk-position-center">
                  <div class="uk-text-center">
                    <span class="uk-animation-slide-top-small" uk-icon="icon: check; ratio: 3" style="color: #4F8A10;"></span>
                    <h4 class="uk-animation-slide-bottom-small">Message sent succesfully.</h4>
                  </div>
                </div>
            </div>

            <!-- error overlay -->
            <div class="uk-overlay-primary uk-position-cover form-overlay--error">
                <div class="uk-position-center">
                  <div class="uk-text-center">
                    <span class="uk-animation-slide-top-small" uk-icon="icon: close; ratio: 3" style="color: red;"></span>
                    <h4 class="uk-animation-slide-bottom-small">Unfotrunately, we couldn't send your message. Check if your email is correct and try again. </h4>
                  </div>
                </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="uk-section-media uk-light uk-background-cover uk-background-fixed uk-padding-small menu-bottom__container">
  <div class="uk-container uk-container-small">
    <p class="uk-text-meta uk-margin-small-right uk-text-center uk-heading-line"><a class="uk-link-muted" href="http://paweltargonski.pl/" target="blank">PT | 2017 &copy;</a></p>
  </div>
</div>
