<div class="uk-section uk-section-muted" id="section-gallery">
    <div class="uk-container gallery-container">
        <div class="slides-container">
            <div class="slider-item">
              <div class="uk-cover-container uk-height-medium subtle-shadow">
                  <canvas width="200" height="200"></canvas>
                  <img uk-cover src="/images/bg1.jpg" alt="About image">
              </div>
              <h1 class="uk-heading-bullet">Heading Bullet</h1>
              <p class="uk-article-meta">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
            </div>
            <div class="slider-item">
              <div class="uk-cover-container uk-height-medium subtle-shadow">
                  <canvas width="200" height="200"></canvas>
                  <img uk-cover src="/images/bg2.jpeg" alt="About image">
              </div>
              <h1 class="uk-heading-bullet">Heading Bullet</h1>
              <p class="uk-article-meta">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
            </div>
            <div class="slider-item">
              <div class="uk-cover-container uk-height-medium subtle-shadow">
                  <canvas width="200" height="200"></canvas>
                  <img uk-cover src="/images/bg1.jpg" alt="About image">
              </div>
              <h1 class="uk-heading-bullet">Heading Bullet</h1>
              <p class="uk-article-meta">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
            </div>
            <div class="slider-item">
              <div class="uk-cover-container uk-height-medium subtle-shadow">
                  <canvas width="200" height="200"></canvas>
                  <img uk-cover src="/images/bg1.jpg" alt="About image">
              </div>
              <h1 class="uk-heading-bullet">Heading Bullet</h1>
              <p class="uk-article-meta">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
            </div>
            <div class="slider-item">
              <div class="uk-cover-container uk-height-medium subtle-shadow">
                  <canvas width="200" height="200"></canvas>
                  <img uk-cover src="/images/bg1.jpg" alt="About image">
              </div>
              <h1 class="uk-heading-bullet">Heading Bullet</h1>
              <p class="uk-article-meta">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
            </div>
        </div>
    </div>
</div>
