{{!-- From medium screen up --}}

<nav class="navbar--top uk-navbar-container uk-visible@s" style="z-index: 980;" uk-sticky="show-on-up: true; animation: uk-animation-slide-top; bottom: #bottom" uk-navbar>
  <div class="uk-navbar-left uk-margin-large-left">
    <a class="uk-navbar-item uk-logo" href="/" uk-scroll>Logo</a>
  </div>

  <div class="uk-navbar-right uk-margin-large-right">
    <ul class="uk-navbar-nav">
      <li><a href="#section-about" uk-scroll>About</a></li>
      <li><a href="#section-gallery" uk-scroll>Gallery</a></li>
      <li><a href="#section-contact" uk-scroll>Contact</a></li>
    </ul>
  </div>
</nav>

{{!-- On small screens --}}
<div class="uk-position-relative uk-hidden@s">
  <nav class="navbar--mobile uk-navbar-container" style="z-index: 980;" uk-sticky="show-on-up: true; animation: uk-animation-slide-top; bottom: #bottom" uk-navbar="dropbar: true; dropbar-mode: push; mode: click">
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li>
          <a class="uk-navbar-toggle" href="#modal-full" uk-toggle>
            <span uk-navbar-toggle-icon></span> <span class="uk-margin-small-left">Menu</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

{{!-- Mobile menu modal --}}

<div id="modal-full" class="uk-modal-full mobile-menu" uk-modal>
  <div class="uk-modal-dialog navigation__dialog">
    <button class="uk-modal-close-full" type="button" uk-close></button>
    <div class="uk-flex uk-flex-center uk-flex-middle nav__container">
      <ul class="uk-nav-primary uk-nav-center uk-nav-parent-icon" uk-nav>
        <li class="uk-nav-header">Menu</li>
        <li class="uk-nav-divider"></li>
        <li><a href="/" uk-scroll>Home</a></li>
        <li><a href="#section-about" uk-scroll>About</a></li>
        <li><a href="#section-gallery" uk-scroll>Gallery</a></li>
        <li><a href="#section-contact" uk-scroll>Contact</a></li>
      </ul>
    </div>
  </div>
</div>
