<div class="uk-section uk-section-large uk-section-media uk-light uk-background-cover section--hero" style="background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
  url({{hero-section.img-path}});" id="section-slider">
    <div class="uk-container header__text">
        <h1 class="uk-heading-hero">{{hero-section.big-header}}</h1>
        <h3>{{hero-section.description}}</h3>
        <a href="#section-about" class="uk-icon-link uk-margin-top flash" uk-icon="icon: chevron-down; ratio: 3" uk-scroll></a>
    </div>
</div>
